/* .flex{
    display: flex;
    margin-top: 30px;
}

.nav_links{
    justify-content: center;
    align-items: center;
    margin-top: 8px;

}

/* .nav_links{
    list-style: none;
}
  
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
} */

/* .logo{
    margin-left: 150px;
} */ 